.properties li {
  list-style: none;
  margin-top: 16px;
}

/* for index.tsx */

.filters {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters::-webkit-scrollbar-thumb {
  display: none;
}