.description p {
  margin-top: 20px;
  text-align: justify;
}

.description li {
  margin-top: 20px;
}

.description ol {
  margin-left: 20px;
}

.description blockquote {
  margin-top: 20px;
  margin-left: 16px;
  position: relative;
}

.description blockquote:first-child {
  margin-top: 0;
}

.description blockquote::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #000;
  margin-top: 16px;
  position: absolute;
  left: -16px;
  bottom: 0;
}

.description p:first-child {
  margin-top: 0;
}