.description p {
  margin-top: 16px;
  text-align: justify;
}

.description blockquote {
  margin-top: 16px;
}

.description blockquote:first-child {
  margin-top: 0;
}

.description p:first-child {
  margin-top: 0;
}